{% extends "main.html" %}
{% block content %}
    <div class="form-container">
        <h1 style="text-align:center">Create a new category!</h1>
        <form action="/categories/new" method="POST">
            <div class="form-group">
                <label>Category Name</label>
                <input type="text" class="form-control" name="category_name" value="{{category_name}}" placeholder="for example: Cycling">
                <small class="form-text form-muted error">{{error.name_error}}</small>
            </div>
            <div class="form-group">
                <label>Category Image URL</label>
                <input type="text" class="form-control" name="category_imgurl" value="{{category_imgurl}}" placeholder="for example: https://image.google.com/example.jpg">
                <small class="form-text form-muted error">{{error.imgurl_error}}</small>
            </div>
            <button type="submit" class="btn btn-block btn-success">Create this Category</button>

            <a class="single-btn btn btn-block btn-info" href="/categories">Return to the Home Page</a>
        </form>
    </div>
{% endblock %}